* {
	margin: 0;
	padding: 0;
}

body {
	background: #e2d9cd;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.container {
	margin: 0 auto;
	width: 960px;
	padding: 25px;
}

.header {
	width: 100%;
	height: 50px;
	background: #3c88cc;
	text-align: center;
}

.content {

}

i.nav.fa {
	padding-right: 10px;
}

nav {
	/*width: calc(100% - 100px);*/
}

.nav li {
	display: inline-block;
	padding: 15px 10px 0 10px;
	width: 100px;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 70px;
	text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 50px;
	display: inline;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

th {
	font-weight: 600;
	text-align: left;
}

td {
	padding: 0px 50px 0px 0px;
}

.search {
	margin-left: 50px;
}

hr {
	border: 0;
	width: 80%;
	color: #3c88cc;
	background-color: #3c88cc;
	height: 5px;
	margin: 10px 0 10px 0;
}

.profile-picture {
	width: 256px;
	height: 256px;
	display: inline;
	float: left;
}

.calendar > tbody > tr > td {
	
}

table.calendar > tbody > tr > td:hover {
	color: #3c88cc;
	cursor: pointer;
}