* {
	margin: 0;
	padding: 0;
}

body {
	background: #e2d9cd;
}

.container {
	margin: 0 auto;
	width: 960px;
	padding: 25px;
}

.header {
	width: 100%;
	height: 50px;
	background: #3c88cc;
	text-align: center;
}

.content {

}

nav {
	/*width: calc(100% - 100px);*/
}

.nav li {
	display: inline-block;
	padding: 10px 10px 0 10px;
	width: 50px;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 70px;
	text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 50px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

td {
	padding: 0px 50px 0px 0px;
}