* {
	margin: 0;
	padding: 0;
}

body {
	background: #e2d9cd;
}

.header {
	width: 100%;
	height: 50px;
	background: #3c88cc;
	text-align: center;
}

nav {
	/*width: calc(100% - 100px);*/
}

.container {
	margin: 0 auto;
	width: 960px;
	padding: 25px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 70px;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}