<h2>Calendar</h2>
<div style="margin-left: 50px; display: inline;">{{today.toDateString()}}</div>
<hr>
<div class="content">
	<table class="calendar">
		<tr>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
		<tr ng-repeat="week in month">
				<td id="{{week.Sunday}}" class="clickable" ng-click="click($event)">{{week.Sunday}}</td>
				<td id="{{week.Monday}}" class="clickable" ng-click="click($event)">{{week.Monday}}</td>
				<td id="{{week.Tuesday}}" class="clickable" ng-click="click($event)">{{week.Tuesday}}</td>
				<td id="{{week.Wednesday}}" class="clickable" ng-click="click($event)">{{week.Wednesday}}</td>		
				<td id="{{week.Thursday}}" class="clickable" ng-click="click($event)">{{week.Thursday}}</td>
				<td id="{{week.Friday}}" class="clickable" ng-click="click($event)">{{week.Friday}}</td>
				<td id="{{week.Saturday}}" class="clickable" ng-click="click($event)">{{week.Saturday}}</td>
		</tr>
	</table>
</div>