<h2>Calendar</h2>
<div style="margin-left: 50px; display: inline;">{{current.toDateString()}}</div>
<hr>
<div class="content">
	<table class="calendar">
		<tr>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
		<tr ng-repeat="week in month">
			<td ng-click="click($event)" ng-mouseenter="hover($event)" ng-mouseleave="clear($event)">{{week.Sunday}}</td>
			<td ng-click="click($event)" ng-mouseenter="hover($event)" ng-mouseleave="clear($event)">{{week.Monday}}</td>
			<td ng-click="click($event)" ng-mouseenter="hover($event)" ng-mouseleave="clear($event)">{{week.Tuesday}}</td>
			<td ng-click="click($event)" ng-mouseenter="hover($event)" ng-mouseleave="clear($event)">{{week.Wednesday}}</td>
			<td ng-click="click($event)" ng-mouseenter="hover($event)" ng-mouseleave="clear($event)">{{week.Thursday}}</td>
			<td ng-click="click($event)" ng-mouseenter="hover($event)" ng-mouseleave="clear($event)">{{week.Friday}}</td>
			<td ng-click="click($event)" ng-mouseenter="hover($event)" ng-mouseleave="clear($event)">{{week.Saturday}}</td>
		</tr>
	</table>
</div>