<h2>Courses</h2>
<input class="search" type="search" ng-model="q" placeholder="Search" />
<!-- <i class="fa fa-search"></i> -->
<hr>
<div class="content">
	<table class="courses">
		<tr>
			<th class="icon"></th>
			<th>ID</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Credits</th>
		</tr>
		<tr class="clickable" id="{{course.ID.condense()}}" ng-click="click($event)" ng-repeat="course in courses | filter: q">
			<td class="icon fa fa-book"></td>
			<td>{{course.ID}}</td>
			<td>{{course.Name}}</td>
			<td align="center">{{course.Grade}}</td>
			<td align="center">{{course.Credits}}</td>
		</tr>
	</table>
</div>