<h2><i class="fa fa-user"></i> {{Friend.Username}}</h2>
<hr>
<table>
	<tr>
		<td style="line-height: 50px; text-align: center;">
			<img class="profile-picture" src="" alt=""></img>
		</td>
		<td>
			<strong>Name:</strong> {{Friend.Name}} <br>
			<strong>School:</strong> {{Friend.School}}
		</td>
	</tr>
</table>
<!-- <img class="profile-picture" alt="No profile picture set."></img>
<div style="display: inline; float: left; margin: 0 0 0 20px;">
	<strong>Name:</strong> {{Friend.Name}} <br>
	<strong>School:</strong> {{Friend.School}}
</div> -->
<div class="controls">
	<div class="btn" ng-click="click($event)"><i class="nav fa fa-long-arrow-left"></i>Return</div>
</div>